<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="<%- avatar %>" />
    <title><%- title %></title>
  </head>

  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
    <style>
      /* @font-face {
        font-family: 'qtbf';
        src: url('./src/assets/fonts/qtbf.ttf');
      }

      @font-face {
        font-family: 'zqljm';
        src: url('./src/assets/fonts/zqljm.ttf');
      }

      @font-face {
        font-family: 'UnidreamLED';
        src: url('./src/assets/fonts/UnidreamLED.ttf');
      } */
    </style>
  </body>
</html>
