@charset "utf-8";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

*,
a,
p {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  text-decoration: none;
  color: #fff;
  // box-sizing: border-box;

  &:hover {
    transition: 0.3s;
  }
}

.fixed-card {
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.2509803922);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transform: scale(1);
  transition: all 0.3s;
}

.cards {
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.2509803922);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transform: scale(1);
  transition: all 0.3s;
}

.cards:hover {
  transform: scale(1.01);
}

.cards:active {
  transform: scale(0.98);
}

.ml-ms {
  margin-left: 10px;
}
.mr-ms {
  margin-right: 10px;
}
.mt-ms {
  margin-top: 10px;
}

.ml-ml {
  margin-left: 20px;
}
.mr-ml {
  margin-right: 20px;
}

// @font-face {
//   font-family: 'qtbf';
//   src: url('/fonts/qtbf.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'zqljm';
//   src: url('/fonts/zqljm.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'UnidreamLED';
//   src: url('/fonts/UnidreamLED.ttf') format('truetype');
// }

// 弹窗样式
.el-message {
  --el-message-bg-color: #00000040 !important;
  --el-message-text-color: #efefef !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 25px !important;
  border-color: transparent !important;

  .el-message__badge {
    display: none;
  }
  .el-message__content {
    white-space: nowrap;
  }
}


// // Tooltip 样式
// .el-popper.is-dark {
//   background: #ffffff60 !important;
//   border: 1px solid transparent !important;
// }

// 卡片样式
.el-card {
  border-radius: 8px !important;
  border: 1px solid transparent !important;
  background-color: transparent !important;

  .el-card__header {
    font-weight: bold;
    padding: 16px 20px !important;
    background-color: #ffffff30 !important;
    border-bottom: 1px solid transparent !important;
  }

  .el-card__body {
    padding: 0 !important;
    background-color: #ffffff10 !important;
  }
}

// 渐入动画
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// 隐藏元素
@media (min-width: 910px) and (max-width: 1200px) {
  .sm-hidden {
    display: none;
  }
}

// 自定义鼠标
#cursor {
  position: fixed;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 25px;
  opacity: 0.25;
  z-index: 10086;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  transition-property: background, opacity, transform;

  &.hidden {
    opacity: 0;
  }

  &.active {
    opacity: 0.5;
    transform: scale(0.5);
  }
}

// 滚动条样式
::-webkit-scrollbar,
scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb,
scrollbar-thumb {
  border-radius: 10px;
  background-color: #eeeeee;
}
